## Pandas

1. The name "pandas" has a reference to both "panel data", and "python data analysis" and was created by wes mckinney in 2008.

2. Pandas is a python library used for working with data sets.

3. It has functions for analyzing, cleaning, exploring, and manipulating data.

## Pandas Data Structures

Series: One-Dimensional labeled arrays pd.Series(data)

DataFrames: Two-Dimensional data structure with columns  much like a table.

Panel: A panel is a 3D container of data.

## Importance of Pandas in Python

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data

Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects

Data set merging and joining. Flexible reshaping and pivoting of data sets proved time-series functionality

In [52]:
import pandas as pd

#### Data structure in pandas

1.The Pandas provides two data structures for processing the data.

Series & DataFrame and Panel

Series : It is defined as a one-dimensional array that is capable of storing various data types.

In [53]:
x = [3,4,5,6,78,2]
df  = pd.Series(x)
print(df)
print(type(df))

0     3
1     4
2     5
3     6
4    78
5     2
dtype: int64
<class 'pandas.core.series.Series'>

In [54]:
print(df[5])

2

In [55]:
x = [3,4,5,6,78,2]
df  = pd.Series(x,index=['a','b','c','d','e','f'],dtype="float",name ="Rishabh")
print(df)

a     3.0
b     4.0
c     5.0
d     6.0
e    78.0
f     2.0
Name: Rishabh, dtype: float64

In [56]:
dic = {'name':["python",'c','java','c++'],'rank':[1,4,3,2]}
df1 = pd.Series(dic)
print(df1)

name    [python, c, java, c++]
rank              [1, 4, 3, 2]
dtype: object

In [57]:
s = pd.Series(120)
print(s)
print(type(s))

0    120
dtype: int64
<class 'pandas.core.series.Series'>

In [58]:
s1=pd.Series(12, index =[2,2,3, 4,5, 6,7])
s2 = pd.Series(12, index=[1,2,3, 4,5, 6])
print(s1+s2)

1     NaN
2    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6    24.0
7     NaN
dtype: float64

#### Data frame

In [59]:
l=[1,2,3,4,5,6,7,8,9]

var2 = pd.DataFrame(l)
print(var2)
print(type(var2))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9
<class 'pandas.core.frame.DataFrame'>

In [60]:
d = {
    "Rishabh Prajapati": {
        "age": 20,
        "degree": "BS in Computer Science and Data Analytics",
        "university": "IIT Patna"
    },
    "Aditi Sharma": {
        "age": 21,
        "degree": "BSc in Mathematics",
        "university": "Delhi University"
    }
}

# Create a DataFrame
var3 = pd.DataFrame(d)

# Print the DataFrame and its type
print(var3)
print(type(var3))

                                    Rishabh Prajapati        Aditi Sharma
age                                                20                  21
degree      BS in Computer Science and Data Analytics  BSc in Mathematics
university                                  IIT Patna    Delhi University
<class 'pandas.core.frame.DataFrame'>

In [61]:
var3 = pd.DataFrame(d).transpose()
print(var3)

                  age                                     degree  \
Rishabh Prajapati  20  BS in Computer Science and Data Analytics
Aditi Sharma       21                         BSc in Mathematics

                         university
Rishabh Prajapati         IIT Patna
Aditi Sharma       Delhi University

In [62]:
fixed_num_data = pd.DataFrame({
    "Student ID": [101, 102, 103, 104, 105],
    "Marks": [85, 90, 78, 92, 88],
    "Age": [20, 21, 19, 22, 20]
     
})
print(fixed_num_data)

   Student ID  Marks  Age
0         101     85   20
1         102     90   21
2         103     78   19
3         104     92   22
4         105     88   20

In [63]:
fixed_num_data = pd.DataFrame({
    "Student ID": [101, 102, 103, 104, 105],
    "Marks": [85, 90, 78, 92, 88],
    "Age": [20, 21, 19, 22, 20]
     
},columns=["Student ID"])
print(fixed_num_data)

   Student ID
0         101
1         102
2         103
3         104
4         105

Arithmetic operations in Python Pandas

In [64]:
var4 = pd.DataFrame({'a':[2,3,4,5],'b':[1,3,4,5]})
var4

   a  b
0  2  1
1  3  3
2  4  4
3  5  5

In [65]:
var4['c'] = var4['b']+var4['b']
var4

   a  b   c
0  2  1   2
1  3  3   6
2  4  4   8
3  5  5  10

In [66]:
var4['c'] = var4['b']-var4['b']
var4

   a  b  c
0  2  1  0
1  3  3  0
2  4  4  0
3  5  5  0

In [67]:
var4['c'] = var4['b']*var4['b']
var4

   a  b   c
0  2  1   1
1  3  3   9
2  4  4  16
3  5  5  25

In [68]:
var5 = pd.DataFrame({'a':[20,30,40,50],'b':[11,43,46,35]})
var5

    a   b
0  20  11
1  30  43
2  40  46
3  50  35

In [69]:
var5['python'] = var5['a'] <=40
var5

    a   b  python
0  20  11    True
1  30  43    True
2  40  46    True
3  50  35   False

Delete and Insert Functions in Python Pandas

In [70]:
var6 = pd.DataFrame({'a':[20,30,40,50],'b':[11,43,46,35]})
var6

    a   b
0  20  11
1  30  43
2  40  46
3  50  35

In [71]:
var6['python'] = var6['a'] * var6['b']
print(var6)

    a   b  python
0  20  11     220
1  30  43    1290
2  40  46    1840
3  50  35    1750

In [72]:
var6 = pd.DataFrame({'a': [20, 30, 40, 50], 'b': [11, 43, 46, 35]})
var6.insert(2, "python_new", [50, 90, 40, 60])
print(var6)

    a   b  python_new
0  20  11          50
1  30  43          90
2  40  46          40
3  50  35          60

In [73]:
var6['python_new_12']= var6['a'][:2]
var6

    a   b  python_new  python_new_12
0  20  11          50           20.0
1  30  43          90           30.0
2  40  46          40            NaN
3  50  35          60            NaN

In [74]:
var6.pop("b")
var6

    a  python_new  python_new_12
0  20          50           20.0
1  30          90           30.0
2  40          40            NaN
3  50          60            NaN

In [75]:
del var6['python_new_12']
var6

    a  python_new
0  20          50
1  30          90
2  40          40
3  50          60

Write CSV File in Python Pandas

â€¢ CSV format is a plain text format in which values are separated by commas (Comma Separated Values).

In [76]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)

In [77]:
df.to_csv("output.csv", index=False)
print("CSV file 'output.csv' created successfully!")

CSV file 'output.csv' created successfully!

Read CSV Files in Python Pandas

A simple way to store big data sets is to use CSV files (comma separatedfiles).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [78]:
df2 = pd.read_csv('customer.csv')

In [79]:
df2.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [80]:
df2 = pd.read_csv('customer.csv',nrows=1)
print(df2)
print(type(df2))

   age  gender   review education purchased
0   30  Female  Average    School        No
<class 'pandas.core.frame.DataFrame'>

In [81]:
df2 = pd.read_csv('customer.csv',usecols=['review'])
print(df2)
print(type(df2))

     review
0   Average
1      Poor
2      Good
3      Good
4   Average
5   Average
6      Good
7      Poor
8   Average
9      Good
10     Good
11     Good
12     Poor
13  Average
14     Poor
15     Poor
16     Poor
17     Poor
18     Good
19     Poor
20  Average
21  Average
22     Poor
23     Good
24  Average
25     Good
26     Poor
27     Poor
28     Poor
29  Average
30  Average
31     Poor
32  Average
33     Good
34  Average
35     Poor
36     Good
37  Average
38     Good
39     Poor
40     Good
41     Good
42     Good
43     Poor
44  Average
45     Poor
46     Poor
47     Good
48     Good
49     Good
<class 'pandas.core.frame.DataFrame'>

In [82]:
df2 = pd.read_csv('customer.csv',usecols=[0,3])
print(df2)
print(type(df2))

    age education
0    30    School
1    68        UG
2    70        PG
3    72        PG
4    16        UG
5    31    School
6    18    School
7    60    School
8    65        UG
9    74        UG
10   98        UG
11   74        UG
12   51    School
13   57    School
14   15        PG
15   75        UG
16   59        UG
17   22        UG
18   19    School
19   97        PG
20   57    School
21   32        PG
22   18        PG
23   96    School
24   16        PG
25   57    School
26   53        PG
27   69        PG
28   48    School
29   83        UG
30   73        UG
31   22    School
32   92        UG
33   89        PG
34   86    School
35   74    School
36   34        UG
37   94        PG
38   45    School
39   76        PG
40   39    School
41   23        PG
42   30        PG
43   27        PG
44   77        UG
45   61        PG
46   64        PG
47   38        PG
48   39        UG
49   25        UG
<class 'pandas.core.frame.DataFrame'>

In [83]:
df2 = pd.read_csv('customer.csv',skiprows=[1])
print(df2)
print(type(df2))

    age  gender   review education purchased
0    68  Female     Poor        UG        No
1    70  Female     Good        PG        No
2    72  Female     Good        PG        No
3    16  Female  Average        UG        No
4    31  Female  Average    School       Yes
5    18    Male     Good    School        No
6    60  Female     Poor    School       Yes
7    65  Female  Average        UG        No
8    74    Male     Good        UG       Yes
9    98  Female     Good        UG       Yes
10   74    Male     Good        UG       Yes
11   51    Male     Poor    School        No
12   57  Female  Average    School        No
13   15    Male     Poor        PG       Yes
14   75    Male     Poor        UG        No
15   59    Male     Poor        UG       Yes
16   22  Female     Poor        UG       Yes
17   19    Male     Good    School        No
18   97    Male     Poor        PG       Yes
19   57  Female  Average    School       Yes
20   32    Male  Average        PG        No
21   18  Female     Poor        PG       Yes
22   96  Female     Good    School        No
23   16  Female  Average        PG       Yes
24   57  Female     Good    School        No
25   53  Female     Poor        PG        No
26   69  Female     Poor        PG        No
27   48    Male     Poor    School        No
28   83  Female  Average        UG       Yes
29   73    Male  Average        UG        No
30   22  Female     Poor    School       Yes
31   92    Male  Average        UG       Yes
32   89  Female     Good        PG       Yes
33   86    Male  Average    School        No
34   74    Male     Poor    School       Yes
35   34  Female     Good        UG       Yes
36   94    Male  Average        PG       Yes
37   45  Female     Good    School        No
38   76    Male     Poor        PG        No
39   39    Male     Good    School        No
40   23    Male     Good        PG       Yes
41   30  Female     Good        PG       Yes
42   27    Male     Poor        PG        No
43   77  Female  Average        UG        No
44   61    Male     Poor        PG       Yes
45   64  Female     Poor        PG        No
46   38  Female     Good        PG       Yes
47   39  Female     Good        UG       Yes
48   25  Female     Good        UG        No
<class 'pandas.core.frame.DataFrame'>

In [84]:
df2 = pd.read_csv('customer.csv',index_col="education")
print(df2)
print(type(df2))

           age  gender   review purchased
education
School      30  Female  Average        No
UG          68  Female     Poor        No
PG          70  Female     Good        No
PG          72  Female     Good        No
UG          16  Female  Average        No
School      31  Female  Average       Yes
School      18    Male     Good        No
School      60  Female     Poor       Yes
UG          65  Female  Average        No
UG          74    Male     Good       Yes
UG          98  Female     Good       Yes
UG          74    Male     Good       Yes
School      51    Male     Poor        No
School      57  Female  Average        No
PG          15    Male     Poor       Yes
UG          75    Male     Poor        No
UG          59    Male     Poor       Yes
UG          22  Female     Poor       Yes
School      19    Male     Good        No
PG          97    Male     Poor       Yes
School      57  Female  Average       Yes
PG          32    Male  Average        No
PG          18  Female     Poor       Yes
School      96  Female     Good        No
PG          16  Female  Average       Yes
School      57  Female     Good        No
PG          53  Female     Poor        No
PG          69  Female     Poor        No
School      48    Male     Poor        No
UG          83  Female  Average       Yes
UG          73    Male  Average        No
School      22  Female     Poor       Yes
UG          92    Male  Average       Yes
PG          89  Female     Good       Yes
School      86    Male  Average        No
School      74    Male     Poor       Yes
UG          34  Female     Good       Yes
PG          94    Male  Average       Yes
School      45  Female     Good        No
PG          76    Male     Poor        No
School      39    Male     Good        No
PG          23    Male     Good       Yes
PG          30  Female     Good       Yes
PG          27    Male     Poor        No
UG          77  Female  Average        No
PG          61    Male     Poor       Yes
PG          64  Female     Poor        No
PG          38  Female     Good       Yes
UG          39  Female     Good       Yes
UG          25  Female     Good        No
<class 'pandas.core.frame.DataFrame'>

In [85]:
df2 = pd.read_csv('customer.csv',header=2)
print(df2)
print(type(df2))

    68  Female     Poor      UG   No
0   70  Female     Good      PG   No
1   72  Female     Good      PG   No
2   16  Female  Average      UG   No
3   31  Female  Average  School  Yes
4   18    Male     Good  School   No
5   60  Female     Poor  School  Yes
6   65  Female  Average      UG   No
7   74    Male     Good      UG  Yes
8   98  Female     Good      UG  Yes
9   74    Male     Good      UG  Yes
10  51    Male     Poor  School   No
11  57  Female  Average  School   No
12  15    Male     Poor      PG  Yes
13  75    Male     Poor      UG   No
14  59    Male     Poor      UG  Yes
15  22  Female     Poor      UG  Yes
16  19    Male     Good  School   No
17  97    Male     Poor      PG  Yes
18  57  Female  Average  School  Yes
19  32    Male  Average      PG   No
20  18  Female     Poor      PG  Yes
21  96  Female     Good  School   No
22  16  Female  Average      PG  Yes
23  57  Female     Good  School   No
24  53  Female     Poor      PG   No
25  69  Female     Poor      PG   No
26  48    Male     Poor  School   No
27  83  Female  Average      UG  Yes
28  73    Male  Average      UG   No
29  22  Female     Poor  School  Yes
30  92    Male  Average      UG  Yes
31  89  Female     Good      PG  Yes
32  86    Male  Average  School   No
33  74    Male     Poor  School  Yes
34  34  Female     Good      UG  Yes
35  94    Male  Average      PG  Yes
36  45  Female     Good  School   No
37  76    Male     Poor      PG   No
38  39    Male     Good  School   No
39  23    Male     Good      PG  Yes
40  30  Female     Good      PG  Yes
41  27    Male     Poor      PG   No
42  77  Female  Average      UG   No
43  61    Male     Poor      PG  Yes
44  64  Female     Poor      PG   No
45  38  Female     Good      PG  Yes
46  39  Female     Good      UG  Yes
47  25  Female     Good      UG   No
<class 'pandas.core.frame.DataFrame'>

In [86]:
df2 = pd.read_csv('customer.csv',names = ['col1','col2','col3','col4',"col5"])
print(df2)
print(type(df2))

   col1    col2     col3       col4       col5
0   age  gender   review  education  purchased
1    30  Female  Average     School         No
2    68  Female     Poor         UG         No
3    70  Female     Good         PG         No
4    72  Female     Good         PG         No
5    16  Female  Average         UG         No
6    31  Female  Average     School        Yes
7    18    Male     Good     School         No
8    60  Female     Poor     School        Yes
9    65  Female  Average         UG         No
10   74    Male     Good         UG        Yes
11   98  Female     Good         UG        Yes
12   74    Male     Good         UG        Yes
13   51    Male     Poor     School         No
14   57  Female  Average     School         No
15   15    Male     Poor         PG        Yes
16   75    Male     Poor         UG         No
17   59    Male     Poor         UG        Yes
18   22  Female     Poor         UG        Yes
19   19    Male     Good     School         No
20   97    Male     Poor         PG        Yes
21   57  Female  Average     School        Yes
22   32    Male  Average         PG         No
23   18  Female     Poor         PG        Yes
24   96  Female     Good     School         No
25   16  Female  Average         PG        Yes
26   57  Female     Good     School         No
27   53  Female     Poor         PG         No
28   69  Female     Poor         PG         No
29   48    Male     Poor     School         No
30   83  Female  Average         UG        Yes
31   73    Male  Average         UG         No
32   22  Female     Poor     School        Yes
33   92    Male  Average         UG        Yes
34   89  Female     Good         PG        Yes
35   86    Male  Average     School         No
36   74    Male     Poor     School        Yes
37   34  Female     Good         UG        Yes
38   94    Male  Average         PG        Yes
39   45  Female     Good     School         No
40   76    Male     Poor         PG         No
41   39    Male     Good     School         No
42   23    Male     Good         PG        Yes
43   30  Female     Good         PG        Yes
44   27    Male     Poor         PG         No
45   77  Female  Average         UG         No
46   61    Male     Poor         PG        Yes
47   64  Female     Poor         PG         No
48   38  Female     Good         PG        Yes
49   39  Female     Good         UG        Yes
50   25  Female     Good         UG         No
<class 'pandas.core.frame.DataFrame'>

In [87]:
df2 = pd.read_csv('customer.csv',dtype={})
print(df2)
print(type(df2))

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No
<class 'pandas.core.frame.DataFrame'>

Pandas function

In [88]:
df3 = pd.read_csv('customer.csv')
df3.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [89]:
df3.index

RangeIndex(start=0, stop=50, step=1)

In [90]:
df3.columns

Index(['age', 'gender', 'review', 'education', 'purchased'], dtype='object')

In [91]:
df3.describe()

             age
count  50.000000
mean   54.160000
std    25.658161
min    15.000000
25%    30.250000
50%    57.000000
75%    74.000000
max    98.000000

In [92]:
df3.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [93]:
df3.head(3)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No

In [94]:
df3.tail()

    age  gender review education purchased
45   61    Male   Poor        PG       Yes
46   64  Female   Poor        PG        No
47   38  Female   Good        PG       Yes
48   39  Female   Good        UG       Yes
49   25  Female   Good        UG        No

In [95]:
df3.tail(2)

    age  gender review education purchased
48   39  Female   Good        UG       Yes
49   25  Female   Good        UG        No

In [96]:
df3[:9]

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No
5   31  Female  Average    School       Yes
6   18    Male     Good    School        No
7   60  Female     Poor    School       Yes
8   65  Female  Average        UG        No

In [97]:
df3[1:2]

   age  gender review education purchased
1   68  Female   Poor        UG        No

In [98]:
print(type(df3))

<class 'pandas.core.frame.DataFrame'>

In [99]:
df3.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Length: 50, dtype: int64

In [100]:
df3.to_numpy()

array([[30, 'Female', 'Average', 'School', 'No'],
       [68, 'Female', 'Poor', 'UG', 'No'],
       [70, 'Female', 'Good', 'PG', 'No'],
       [72, 'Female', 'Good', 'PG', 'No'],
       [16, 'Female', 'Average', 'UG', 'No'],
       [31, 'Female', 'Average', 'School', 'Yes'],
       [18, 'Male', 'Good', 'School', 'No'],
       [60, 'Female', 'Poor', 'School', 'Yes'],
       [65, 'Female', 'Average', 'UG', 'No'],
       [74, 'Male', 'Good', 'UG', 'Yes'],
       [98, 'Female', 'Good', 'UG', 'Yes'],
       [74, 'Male', 'Good', 'UG', 'Yes'],
       [51, 'Male', 'Poor', 'School', 'No'],
       [57, 'Female', 'Average', 'School', 'No'],
       [15, 'Male', 'Poor', 'PG', 'Yes'],
       [75, 'Male', 'Poor', 'UG', 'No'],
       [59, 'Male', 'Poor', 'UG', 'Yes'],
       [22, 'Female', 'Poor', 'UG', 'Yes'],
       [19, 'Male', 'Good', 'School', 'No'],
       [97, 'Male', 'Poor', 'PG', 'Yes'],
       [57, 'Female', 'Average', 'School', 'Yes'],
       [32, 'Male', 'Average', 'PG', 'No'],
       [18, 'Female', 'Poor', 'PG', 'Yes'],
       [96, 'Female', 'Good', 'School', 'No'],
       [16, 'Female', 'Average', 'PG', 'Yes'],
       [57, 'Female', 'Good', 'School', 'No'],
       [53, 'Female', 'Poor', 'PG', 'No'],
       [69, 'Female', 'Poor', 'PG', 'No'],
       [48, 'Male', 'Poor', 'School', 'No'],
       [83, 'Female', 'Average', 'UG', 'Yes'],
       [73, 'Male', 'Average', 'UG', 'No'],
       [22, 'Female', 'Poor', 'School', 'Yes'],
       [92, 'Male', 'Average', 'UG', 'Yes'],
       [89, 'Female', 'Good', 'PG', 'Yes'],
       [86, 'Male', 'Average', 'School', 'No'],
       [74, 'Male', 'Poor', 'School', 'Yes'],
       [34, 'Female', 'Good', 'UG', 'Yes'],
       [94, 'Male', 'Average', 'PG', 'Yes'],
       [45, 'Female', 'Good', 'School', 'No'],
       [76, 'Male', 'Poor', 'PG', 'No'],
       [39, 'Male', 'Good', 'School', 'No'],
       [23, 'Male', 'Good', 'PG', 'Yes'],
       [30, 'Female', 'Good', 'PG', 'Yes'],
       [27, 'Male', 'Poor', 'PG', 'No'],
       [77, 'Female', 'Average', 'UG', 'No'],
       [61, 'Male', 'Poor', 'PG', 'Yes'],
       [64, 'Female', 'Poor', 'PG', 'No'],
       [38, 'Female', 'Good', 'PG', 'Yes'],
       [39, 'Female', 'Good', 'UG', 'Yes'],
       [25, 'Female', 'Good', 'UG', 'No']], dtype=object)

In [101]:
import numpy as np
v = np.array(df3)
v

array([[30, 'Female', 'Average', 'School', 'No'],
       [68, 'Female', 'Poor', 'UG', 'No'],
       [70, 'Female', 'Good', 'PG', 'No'],
       [72, 'Female', 'Good', 'PG', 'No'],
       [16, 'Female', 'Average', 'UG', 'No'],
       [31, 'Female', 'Average', 'School', 'Yes'],
       [18, 'Male', 'Good', 'School', 'No'],
       [60, 'Female', 'Poor', 'School', 'Yes'],
       [65, 'Female', 'Average', 'UG', 'No'],
       [74, 'Male', 'Good', 'UG', 'Yes'],
       [98, 'Female', 'Good', 'UG', 'Yes'],
       [74, 'Male', 'Good', 'UG', 'Yes'],
       [51, 'Male', 'Poor', 'School', 'No'],
       [57, 'Female', 'Average', 'School', 'No'],
       [15, 'Male', 'Poor', 'PG', 'Yes'],
       [75, 'Male', 'Poor', 'UG', 'No'],
       [59, 'Male', 'Poor', 'UG', 'Yes'],
       [22, 'Female', 'Poor', 'UG', 'Yes'],
       [19, 'Male', 'Good', 'School', 'No'],
       [97, 'Male', 'Poor', 'PG', 'Yes'],
       [57, 'Female', 'Average', 'School', 'Yes'],
       [32, 'Male', 'Average', 'PG', 'No'],
       [18, 'Female', 'Poor', 'PG', 'Yes'],
       [96, 'Female', 'Good', 'School', 'No'],
       [16, 'Female', 'Average', 'PG', 'Yes'],
       [57, 'Female', 'Good', 'School', 'No'],
       [53, 'Female', 'Poor', 'PG', 'No'],
       [69, 'Female', 'Poor', 'PG', 'No'],
       [48, 'Male', 'Poor', 'School', 'No'],
       [83, 'Female', 'Average', 'UG', 'Yes'],
       [73, 'Male', 'Average', 'UG', 'No'],
       [22, 'Female', 'Poor', 'School', 'Yes'],
       [92, 'Male', 'Average', 'UG', 'Yes'],
       [89, 'Female', 'Good', 'PG', 'Yes'],
       [86, 'Male', 'Average', 'School', 'No'],
       [74, 'Male', 'Poor', 'School', 'Yes'],
       [34, 'Female', 'Good', 'UG', 'Yes'],
       [94, 'Male', 'Average', 'PG', 'Yes'],
       [45, 'Female', 'Good', 'School', 'No'],
       [76, 'Male', 'Poor', 'PG', 'No'],
       [39, 'Male', 'Good', 'School', 'No'],
       [23, 'Male', 'Good', 'PG', 'Yes'],
       [30, 'Female', 'Good', 'PG', 'Yes'],
       [27, 'Male', 'Poor', 'PG', 'No'],
       [77, 'Female', 'Average', 'UG', 'No'],
       [61, 'Male', 'Poor', 'PG', 'Yes'],
       [64, 'Female', 'Poor', 'PG', 'No'],
       [38, 'Female', 'Good', 'PG', 'Yes'],
       [39, 'Female', 'Good', 'UG', 'Yes'],
       [25, 'Female', 'Good', 'UG', 'No']], dtype=object)

In [103]:
df3.sort_index(axis=0,ascending=False)

    age  gender   review education purchased
49   25  Female     Good        UG        No
48   39  Female     Good        UG       Yes
47   38  Female     Good        PG       Yes
46   64  Female     Poor        PG        No
45   61    Male     Poor        PG       Yes
44   77  Female  Average        UG        No
43   27    Male     Poor        PG        No
42   30  Female     Good        PG       Yes
41   23    Male     Good        PG       Yes
40   39    Male     Good    School        No
39   76    Male     Poor        PG        No
38   45  Female     Good    School        No
37   94    Male  Average        PG       Yes
36   34  Female     Good        UG       Yes
35   74    Male     Poor    School       Yes
34   86    Male  Average    School        No
33   89  Female     Good        PG       Yes
32   92    Male  Average        UG       Yes
31   22  Female     Poor    School       Yes
30   73    Male  Average        UG        No
29   83  Female  Average        UG       Yes
28   48    Male     Poor    School        No
27   69  Female     Poor        PG        No
26   53  Female     Poor        PG        No
25   57  Female     Good    School        No
24   16  Female  Average        PG       Yes
23   96  Female     Good    School        No
22   18  Female     Poor        PG       Yes
21   32    Male  Average        PG        No
20   57  Female  Average    School       Yes
19   97    Male     Poor        PG       Yes
18   19    Male     Good    School        No
17   22  Female     Poor        UG       Yes
16   59    Male     Poor        UG       Yes
15   75    Male     Poor        UG        No
14   15    Male     Poor        PG       Yes
13   57  Female  Average    School        No
12   51    Male     Poor    School        No
11   74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
9    74    Male     Good        UG       Yes
8    65  Female  Average        UG        No
7    60  Female     Poor    School       Yes
6    18    Male     Good    School        No
5    31  Female  Average    School       Yes
4    16  Female  Average        UG        No
3    72  Female     Good        PG        No
2    70  Female     Good        PG        No
1    68  Female     Poor        UG        No
0    30  Female  Average    School        No

In [104]:
df3['age'][0] = 1
df3

C:\Users\rajna\AppData\Local\Temp\ipykernel_5156\922831835.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['age'][0] = 1
C:\Users\rajna\AppData\Local\Temp\ipykernel_5156\922831835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['age'][0] = 1

    age  gender   review education purchased
0     1  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [105]:
df3.loc[1,'age'] = 1
df3

    age  gender   review education purchased
0     1  Female  Average    School        No
1     1  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [106]:
df3.loc[[2,3],['review','education']]

  review education
2   Good        PG
3   Good        PG

In [107]:
df3.iloc[0,1]

'Female'

In [108]:
df.iloc[0,2]

'New York'

In [110]:
df3.drop(0,axis=0)

    age  gender   review education purchased
1     1  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No